alabaster==1.0.0
attrs==26.1.0
babel==2.18.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
cryptography==50.0.0
docutils==0.22.4
Flask==3.1.3
google-api-core==2.33.0
google-api-python-client==2.198.0
google-auth==2.56.2
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
gunicorn==26.0.0
http_ece==1.2.1
httplib2==0.32.0
idna==3.18
imagesize==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
oauthlib==3.3.1
packaging==26.2
propcache==0.5.2
proto-plus==1.28.2
protobuf==7.35.1
py-vapid==1.9.4
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
pywebpush==2.3.0
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
roman-numerals==4.1.0
snowballstemmer==3.1.1
Sphinx==9.0.4
sphinx-press-theme==0.8.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.7.0
Werkzeug==3.1.8
